## Deliverable 3. Create a Travel Itinerary Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [28]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/anuoluwaposoniyi/Desktop/Class/Weather_Database/Output/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,1,sampit,ID,75.47,overcast clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
1,7,ambunti,PG,74.08,overcast clouds,-4.2365,142.8448,AMBUNTI HIDE INN
2,13,kalmunai,LK,79.12,broken clouds,7.4167,81.8167,VS Villa
3,14,najran,SA,78.64,overcast clouds,17.4924,44.1277,محمد هادي ال فطيح
4,18,cayenne,GF,84.24,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi

In [29]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lon"]]

In [30]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'viedma']
vacation_end = vacation_df.loc[vacation_df['City'] == 'viedma']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'chacabuco']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'reconquista']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'catamarca']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
200,640,catamarca,AR,80.78,few clouds,-28.4696,-65.7852,Amerian Catamarca Park Hotel

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-40.8135, -62.9967], dtype=object)

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
viedma = start
chacabuco = stop1
reconquista = stop2
catamarca = stop3
roadtrip = gmaps.directions_layer(viedma, viedma, waypoints=[chacabuco, reconquista, catamarca], travel_mode="DRIVING")

In [42]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,449,viedma,AR,71.58,clear sky,-40.8135,-62.9967,Hotel Cristal
1,353,chacabuco,AR,73.81,light rain,-34.6417,-60.4739,Club de Pesca Caza y Balneario
2,512,reconquista,AR,73.17,clear sky,-29.1500,-59.6500,Grand Hotel
3,640,catamarca,AR,80.78,few clouds,-28.4696,-65.7852,Amerian Catamarca Park Hotel

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lon"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)

In [45]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))